<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500;700&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>

<body>
    <header class="fill {{ seismic }}">
        <h1>
            {{ title }}
        </h1>
        <div class="date">
            発生日時: {{ date }}
        </div>
    </header>
    <main>
        <div class="left">
            {% if is_tsunami %}
            <div class="tsunami {{ seismic }}">
                <div class="contents">津波情報あり</div>
            </div>
            {% endif %}
            <div class="max-seismic-intensity fill {{ seismic }}">
                <div class="comment">最大震度</div>
                <div class="contents">震度{{ max_seismic_intensity }}</div>
            </div>
            {% for element in explanation[1:] %}
            <div class="element {{ seismic }}">{{element}}</div>
            {% endfor %}
        </div>

        <div class="right">
            <div class="explanation {{ seismic }}">
                <div>
                    {{ explanation[0] }}
                </div>
                <div class="areas">
                    {% for seismic_area, area in areas.items() %}
                    <div class="seismic_intensity {{ seismic_area }}">{{ seismic_area }}</div>
                    <div class="name">
                        {% for value in area %}
                        {{ value }}{{ "、" if not loop.last }}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        Copyright (c) 2020 Earthquake alert
    </footer>
</body>

</html>
