<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
    <title>Template</title>
</head>

<body>
    <header>
        <h1>
            {{ title }}
        </h1>
    </header>
    <main>
        <div class="areas">
            <div class="seismic_intensity">震度4</div>
            <div class="name">
                埼玉県、茨城県、栃木県、群馬県、東京都
            </div>
            <div class="seismic_intensity">震度3</div>
            <div class="name">
                神奈川県、福島県
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>
