body {
    background-color: #171717;
    margin: 0 0 0 0;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3em;
    padding-top: 0.5em;
    padding-bottom: 0;
    margin: 0 0 0 0;
}

.date {
    text-align: center;
    margin: 0;
    padding-bottom: 0.3em;
    font-size: 1em;
    font-weight: 100;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    margin: 0;
}

.left {
    float: left;
    width: 40%;
    margin: 0;
}

.right {
    float: left;
    width: 60%;
    margin: 0;
}

.explanation {
    padding: 1.2em;
    background-color: #333333;
    color: #e0e0e0;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Noto Sans JP', sans-serif;
    max-height: none;
}

.areas {
    padding: 0.6em;
    margin: 0;
    color: #fffcba;
}

.seismic_intensity {
    padding: 0;
    text-align: center;
    margin: 1em 0 0 0;
    width: 4.5em;
    border-radius: 0.25em;
    background-color: #43cc65;
    color: black;
}

.magnitude {
    padding: 0.5em 1.5em 1.5em 1.5em;
    margin: 0.5em;
    background-color: #333333;
    color: #e0e0e0;
    border-radius: 1em;
}

.max-seismic-intensity {
    padding: 0.5em 1.5em 1.5em 1.5em;
    margin: 10px;
    border-radius: 1em;
}

.epicenter {
    padding: 0.5em 1.5em 1.5em 1.5em;
    margin: 0.5em;
    background-color: #333333;
    color: #e0e0e0;
    border-radius: 1em;
}

.contents {
    text-align: center;
    font-size: 2.4em;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
}

.comment {
    text-align: left;
    font-size: 1.13em;
    font-weight: 500;
    font-family: 'Noto Sans JP', sans-serif;
}

.element {
    padding: 1.5em;
    margin: 0.5em;
    background-color: #333333;
    color: #e0e0e0;
    border-radius: 1em;

    font-size: 1.13em;
    font-weight: 500;
    font-family: 'Noto Sans JP', sans-serif;
}

/*
 震度ごとに色を変化 (背景塗りつぶし)
 - 震度1:   class-1
 - 震度2:   class-2
 - 震度3:   class-3
 - 震度4:   class-4
 - 震度5弱: class-5
 - 震度5強: class-55
 - 震度6弱: class-6
 - 震度6強: class-66
 - 震度7:   class-7
  */

.fill.class-0, .震度0, .震度０ {
    background-color: #e1e2e3;
    color: black;
}

.fill.class-1, .震度1, .震度１ {
    background-color: #56a0d1;
    color: black;
}

.fill.class-2, .震度2, .震度２ {
    background-color: #204eba;
    color: #e0e0e0;
}

.fill.class-3, .震度3, .震度３ {
    background-color: #d6e673;
}

.fill.class-4, .震度4, .震度４ {
    background-color: #dbde28;
}

.fill.class-5, .震度5弱, .震度５弱 {
    background-color: #eba22d;
}

.fill.class-55, .震度5強, .震度５強 {
    background-color: #eba22d;
}
.fill.class-6, .震度6弱, .震度６弱 {
    background-color: #e62929;
    color: #e0e0e0;
}

.fill.class-66, .震度6強, .震度６強 {
    background-color: #e62929;
    color: #e0e0e0;
}

.fill.class-7, .震度7, .震度７ {
    background-color: #a81d5b;
    color: #e0e0e0;
}

.fill.none {
    background-color: black;
    color: #e0e0e0;
}

/*
 震度ごとに色を変化 (縁の着色)
*/

div.class-0 {
    border: solid 0.15em #e1e2e3;
}

div.class-1 {
   border: solid 0.15em #56a0d1;
}

div.class-2 {
   border: solid 0.15em #204eba;
}

div.class-3 {
   border: solid 0.15em #d6e673;
}

div.class-4 {
   border: solid 0.15em #dbde28;
}

div.class-5 {
   border: solid 0.15em #eba22d;
}

div.class-55 {
   border: solid 0.15em #eba22d;
}
div.class-6 {
   border: solid 0.15em #e62929;
}

div.class-66 {
   border: solid 0.15em #e62929;
}

div.class-7 {
   border: solid 0.15em #a81d5b;
}

div.none {
   border: solid 0.15em black;
}
